:root {
	--primary: #5d7196;
	--personal: var(--primary);
	--light: #EEE;
	--grey: #888;
	--dark: #313154;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}
body {
	background: var(--light);
	color: var(--dark);
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.task-label{
    font-weight:bold;
    margin-bottom:30px;
}

.qaaa input {
    float: left;
	font-size: 1.125rem;
	padding: 10px;
	box-shadow: grey;
    border: none;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.4rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}

h1{
    width:100%;
}
h3{
    margin-bottom:10px;
}
.fle{
    display:flex;
    width:100%;
    margin-top:1rem;
    margin-bottom:10px;
}
.taskin{
    width:40%;
    margin-right:6px;
}
#addtask{
    margin-left: 5px;
	width: 15%;
	font-size: 1.125rem;
	padding: 10px;
    border: none;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--primary);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
    }
#addtask:hover{
    opacity: 0.75;
}
#sorttask{
    margin-left: 5px;
	width: 15%;
	font-size: 1.125rem;
	padding: 10px;
    border: none;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--primary);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
    }
#sorttask:hover{
    opacity: 0.75;
}
#taskon{
    margin-left: 5px;
	width: 15%;
	font-size: 1.125rem;
	padding: 10px;
    border: none;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--primary);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
    }
#taskon:hover{
    opacity: 0.75;
}
.day{
    float: left;
	font-size: 1.125rem;
	padding: 10px;
	box-shadow: grey;
    border: none;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.4rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}
.search{
    float:right;
}
.search input {
	width:55%;
	font-size: 1.125rem;
	padding: 10px;
	box-shadow: grey;
    border: none;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}
#search{
    margin-left: 5px;
	width: 35%;
	font-size: 1.125rem;
	padding: 10px;
    border: none;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--primary);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
    }
#search:hover{
    opacity: 0.75;
